.header{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100px;

    padding: 1.25rem;

    color: var(--gray-100);
    background-color: var(--gray-800);
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1440px;
}

